* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}

.ant-modal-footer {
  display: none;
}

.ant-display-selector {
  height: 50px !important;
}

.ant-display-selection-placeholder,
.ant-display-selection-item {
  margin-top: 5px;
}

.btn-square {
  border-radius: 0;
}
